.roma {
  background-image: url("/assets/roma/roma.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  height: 1280px;
  width: 600px;
  border: none;
  margin: 0;
  padding: 0;
}
