<div class="back">
  <a routerLink="/italy"><button>Back</button></a>
</div>

<div class="roma" style="position: relative">
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="430" [y]="258" (click)="campo()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="423" [y]="118" (click)="castel()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="729" [y]="369" (click)="colosseo()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="631" [y]="400" (click)="palatine()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="508" [y]="184" (click)="pantheon()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="229" [y]="138" (click)="stpietro()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="833" [y]="156" (click)="termini()"></bhu-pulse-button>
  <bhu-pulse-button [colour]="PULSE_COLOUR" [x]="586" [y]="148" (click)="trevi()"></bhu-pulse-button>
</div>
